*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.topo{
    background-color: white;
    width: 100%;
    height: 70px;
    z-index: 1;
    padding: 25px;
    position: fixed;
}
.topo img{
    width: 55px;
    position: relative;
    left: 220px;
    top: -15px;
}
.topo a{
    position:relative;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    left: 750px;
    top: -100px;
    padding-left: 100px;
}
.topo h2{
    position:relative;
    top: -70px;
    left: 300px;
    font-size: 24px;
}
.topo p{
    position: relative;
    top: -70px;
    left: 300px;
}
.contato{
    padding-top: 250px;
    text-align: center;
    background-image: url(../assents/fundo\ azul.jpg);
    background-attachment: fixed;
}
.contato h1{
    position: relative;
    top:-100px;
    font-size: 40px;
    color: white;
}
.formulario{
    background-color: #fafafa;
    padding: 450px;
}
.formulario h2{
position: relative;
top: -410px;
text-align: center;
color: dodgerblue;
}
.formulario h3{
    position: relative;
    top: -410px;
    text-align: center;
    padding-top: 50px;
}

.box{
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
} 
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelinput{
    position: absolute;
    top: 0px;
    left: 5px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelinput, .inputUser:valid ~ .labelinput {
    top:-20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    position: relative;
    left: 2px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right, rgb( 0, 92, 197), rgb(90, 20, 220));
    width: 80%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: 50px;
    font-weight: bold;
}
#submit:Hover{
    background-image: linear-gradient(to right, rgb( 0, 80, 172), rgb(80, 19, 195));
}
.rodape{
    background-color: #233032;
    color: white;
    padding: 20px;
    text-align: center;
}
.rodape p{
    padding-top: 10px;
}
 