.topo{
    background-color: white;
    position: fixed;
    width: 100%;
}
.topo img{
    width: 100px;
    position: relative;
    left: 50px;
}
.topo a{
    position:relative;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    left: 800px;
    top: -100px;
    padding-left: 100px;
}