
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.topo{
    background-color: white;
    width: 100%;
    height: 70px;
    z-index: 1;
    padding: 25px;
    position: fixed;
}
.topo img{
    width: 55px;
    position: relative;
    left: 220px;
    top: -15px;
}
.topo a{
    position:relative;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    left: 750px;
    top: -100px;
    padding-left: 100px;
}
.topo h2{
    position:relative;
    top: -70px;
    left: 300px;
    font-size: 24px;
}
.topo p{
    position: relative;
    top: -70px;
    left: 300px;
}
.inicio{
    margin-bottom: -170px;
}
.inicio video{
    width: 100%;
}
.inicio div{
    color: white;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: -650px
}
.inicio a{
    position: relative;
    top: 50px;
    border-radius: 5px 5px 5px 5px;
    background-color: #233032;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.propaganda1{
    background-color: #233032;
    padding: 30px;

}
.propaganda1 h2{
    color: white;
    position: relative;
    left: 300px;
    top: 5px;
}
.propaganda1 a{
    position: relative;
    left: 1200px;
    top: -15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    background-color: #2f86d6;
    font-weight: bold;
}
.sobre{
    height: 665px;
}
.sobre div{
    width: 900px;
    height: 667px;
    text-align: center;
    background-color: #2f86d6;
    color: white;
    padding-top: 70px;
    font-size: 20px;

}
.sobre p{
    padding-top: 30px;
}
.sobre h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.sobre li{
    padding: 20px;
}
.sobre img{
    width: 1000px;
    position: relative;
    left: 900px;
    top: -738px;
}
.atividade-da-empresa{
    text-align: center;
    background-color: #233032;
    color: white;
    height: 669px;
}
.atividade-da-empresa div{
    position: relative;
    left: 1000px;
    padding-top: 100px;
    height: 500px;
    width: 800px;
    font-size: 25px;
}
.atividade-da-empresa img{
    width: 1000px;
    position: relative;
    right: 530px;
    top: -500px;
}
.atividade-da-empresa p{
    padding-top: 60px;
}
.cases{
    height: 800px;
    padding-top: 30px;
    color: black;
    text-align: center;
    font-size: 26px;
    background-image: url(../assents/imagem\ de\ fundo\ case.jpg) ;
    background-size: 2000px;
    background-attachment: fixed;
}
.cases img{
    width: 500px;
    height: 450px;
    padding-top: 100px;
    padding-left: 20px;
}
.cases h3{
    color: #2e2e2e;
    padding-top:70px;
    font-weight: none;
}
.rodape{
    background-color: #233032;
    color: white;
    padding: 20px;
    text-align: center;
}
.rodape p{
    padding-top: 10px;
}
 
